ul.tabList {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    > button {
      display: block;
      width: 100%;
      color: #ff9b22;
      background-color: #ffffff;
      border: 0;
      border-bottom: 3px solid #ffe1b9;
      padding: 10px 20px;
      outline: 0;
      transition: background-color 0.2s;

      &:hover {
        background-color: #ffeed6;
      }
    }

    &.is_active {
      > button {
        border-bottom: 3px solid #ffb65d;
      }
    }
  }
}
