form {
  display: flex;
  align-items: flex-end;
  margin: 0 60px;

  &.inner {
    margin: 20px auto;
  }

  .inputForm {
    width: 100%;
  }

  label {
      &+ input {
          margin-top: 10px;
      }
  }

  input {
    font: inherit;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 6px 10px;

    &::placeholder {
      color: #bbbbbb;
    }

    &:focus {
      outline: none;
      border-color: #ffb546;
      background-color: #fff7ea;
    }
  }

  button {
    width: 160px;
    max-height: 42px;
    font-size: 14px;
    color: #ffffff;
    word-break: break-all;
    background: #ff922d;
    margin-left: 20px;
    border: 1px solid #ffdbba;
    border-radius: 6px;
    padding: 12px 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:focus {
    outline: none;
  }

  button:hover,
  button:active {
    color: #ff5e2d;
    background: #fffefe;
    border-color: #ff922d;
  }
}

.form-control {
  margin-bottom: 1rem;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}
