ul.todoList {
  min-height: calc(100vh - 64px - 264px);
  list-style: none;
  margin: 40px auto;
  padding: 0 10px;

  li {
    position: relative;
    box-shadow: 0 0 1px 1px #cccccc;
    border-radius: 4px;
    transition: 0.3s;

    & + li {
      margin-top: 20px;
    }

    &:hover {
      background-color: #fffcf2;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 120px 10px 18px;

      input {
        width: 16px;
        height: 16px;
        padding: 10px;
        border: 1px solid #dddddd;
      }

      p {
        width: 100%;
        margin: 0 20px;
      }
    }
  }

  button {
    position: absolute;
    top: 10px;
    right: 30px;
    border: 1px solid #dddddd;
    padding: 4px 10px;
    outline: 0;
    transition: 0.3s;

    &:hover,
    :active {
      background-color: #ffb9b9;
      border: 1px solid #ffbdbd;
    }
  }
}
