html {
  font-family: sans-serif;
  ;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.inner {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (max-width: 760px) {
  .inner {
    max-width: calc(100% - 20px);
  }
}
